https://www.listendata.com/2016/10/r-data-table.html

In [1]:
library(data.table)

In [2]:
getwd()

[1] "C:/Users/asus-A9/Documents/GitHub/AnacondaWorkingSpace/R/DataScience Specialization"

In [3]:
list.files(getwd())

[1] "Data"
[2] "Download a file from the web.ipynb"
[3] "JSON.ipynb"
[4] "R  DATA.TABLE TUTORIAL (WITH 50 EXAMPLES.ipynb"
[5] "The data.table Package.ipynb"

In [4]:
list.files("./Data")

 [1] "01_01_downLoadingFiles.pdf"     "01_02_rawAndProcessedData.pdf"
 [3] "01_03_componentsOfTidyData.pdf" "01_05_readingLocalFiles.pdf"
 [5] "01_06_readingExcelFiles.pdf"    "01_07_readingXML.pdf"
 [7] "01_08_readingJSON.pdf"          "01_09_dataTable.pdf"
 [9] "cameras.csv"                    "cameras.xlsx"
[11] "Controle continu.xlsx"          "flights.csv"

In [5]:
# furl = "https://github.com/arunsrinivasan/satrdays-workshop/raw/master/flights_2014.csv"
# mydata = download.file(url =  furl, 
#                        destfile = "./Data/flights.csv" )

In [6]:
#datedownload = date()

In [7]:
wdata = fread("./Data/flights.csv")

In [8]:
nrow(wdata)

[1] 253316

In [9]:
ncol(x = wdata)

[1] 17

In [10]:
names(wdata)

 [1] "year"      "month"     "day"       "dep_time"  "dep_delay" "arr_time"
 [7] "arr_delay" "cancelled" "carrier"   "tailnum"   "flight"    "origin"
[13] "dest"      "air_time"  "distance"  "hour"      "min"

In [11]:
head(wdata)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014 1     1    914     14        1238      13       0         AA
2 2014 1     1   1157     -3        1523      13       0         AA
3 2014 1     1   1902      2        2224       9       0         AA
4 2014 1     1    722     -8        1014     -26       0         AA
5 2014 1     1   1347      2        1706       1       0         AA
6 2014 1     1   1824      4        2145       0       0         AA
  tailnum flight origin dest air_time distance hour min
1 N338AA    1    JFK    LAX  359      2475      9   14
2 N335AA    3    JFK    LAX  363      2475     11   57
3 N327AA   21    JFK    LAX  351      2475     19    2
4 N3EHAA   29    LGA    PBI  157      1035      7   22
5 N319AA  117    JFK    LAX  350      2475     13   47
6 N3DEAA  119    EWR    LAX  339      2454     18   24

In [12]:
dat1 = wdata[, origin]

In [13]:
class(dat1)

[1] "character"

In [14]:
dat1 = wdata[, .(origin)]

In [15]:
class(dat1)

[1] "data.table" "data.frame"

In [16]:
dat2 = wdata[, c("origin"), with =FALSE]
head(dat2)

  origin
1 JFK
2 JFK
3 JFK
4 LGA
5 JFK
6 EWR

In [17]:
dat2 = wdata[, 2]
head(dat1)

  origin
1 JFK
2 JFK
3 JFK
4 LGA
5 JFK
6 EWR

In [18]:
dat1 = wdata[, !c("origin", "day", "carrier")]
names(dat1)

 [1] "year"      "month"     "dep_time"  "dep_delay" "arr_time"  "arr_delay"
 [7] "cancelled" "tailnum"   "flight"    "dest"      "air_time"  "distance"
[13] "hour"      "min"

In [19]:
dat3 = wdata[, names(wdata) %like% "dep", with = FALSE]
names(dat3)

[1] "dep_time"  "dep_delay"