In [3]:
library(data.table)

In [4]:
df = data.frame(x=rnorm(9),
               y=rep(c("a", "b", "c"), each = 3), z = rnorm(9))

In [5]:
df

  x           y z
1  1.04293584 a -1.3735290
2 -0.77257841 a -0.3012870
3 -1.49883443 a -0.3694201
4 -0.06038516 b -0.7701422
5  1.49548252 b -0.7477902
6  0.59271332 b -1.7690194
7  0.09768357 c -1.0631972
8  0.86291546 c  0.2226571
9  0.12215513 c -1.3002235

In [6]:
for(x in 1:9){
    print(5 * rnorm(x))
    print("")
}
rnorm(9)

[1] 2.69178
[1] ""
[1] -0.5480724 -9.9309800
[1] ""
[1]  1.423867 -8.620575 -5.835549
[1] ""
[1]  1.841075  6.734457 -2.895388 -3.585855
[1] ""
[1] -3.663578  1.899022 -6.236532 -6.420439  5.390303
[1] ""
[1]   1.801786   6.975212 -14.150596  -5.913379   2.159727   3.572619
[1] ""
[1]  5.3421552 -0.6885738 -0.4872168  4.0144053 -9.2493031  3.7124211  4.1502251
[1] ""
[1] -5.1431436  5.3449244  0.6962596  4.3200996  6.4048699 -7.2764109 -3.1899895
[8]  3.3522878
[1] ""
[1] -4.5673592  3.9301563  5.8858630 -3.4840860 -3.6864617 -5.1389969  0.2561056
[8] -1.8401049  3.2916352
[1] ""

[1] -0.24259249 -0.04626919  0.63211123  1.36507460  0.96688954 -1.49236650
[7]  0.47187192  0.35285658 -1.99570570

In [7]:
rep("x")

[1] "x"

In [8]:
rep(c("a", "b", "c"))

[1] "a" "b" "c"

In [9]:
args(rep)

function (x, ...)
NULL

In [10]:
rep(1:2, 2)

[1] 1 2 1 2

In [11]:
rep(1:2, each=2)

[1] 1 1 2 2

In [12]:
rep(1:4, 3)

 [1] 1 2 3 4 1 2 3 4 1 2 3 4

In [13]:
rep(seq(4), each= 3)

 [1] 1 1 1 2 2 2 3 3 3 4 4 4

In [14]:
dt = data.table(note = rnorm(n = 6, mean = 7, sd = 1),
                names= rep(c("siham", 'karim', "mohamed", "salma"), each = 3),
                matieres=rep(c('arabe', 'fran', 'math'), 4)
               )
dt

   note     names   matieres
1  7.021293 siham   arabe
2  6.349088 siham   fran
3  7.189374 siham   math
4  6.166247 karim   arabe
5  6.301594 karim   fran
6  5.067737 karim   math
7  7.021293 mohamed arabe
8  6.349088 mohamed fran
9  7.189374 mohamed math
10 6.166247 salma   arabe
11 6.301594 salma   fran
12 5.067737 salma   math

In [15]:
tables()

   NAME NROW NCOL MB                COLS KEY
1:   dt   12    3  0 note,names,matieres
Total: 0MB

In [16]:
dt[3:4,]

  note     names matieres
1 7.189374 siham math
2 6.166247 karim arabe

In [17]:
notes_math = dt[dt$matieres == "math"]
class(notes_math)

[1] "data.table" "data.frame"

In [18]:
dt[c(1, 8)]

  note     names   matieres
1 7.021293 siham   arabe
2 6.349088 mohamed fran

In [19]:
dt[, c(1, 3)]

   note     matieres
1  7.021293 arabe
2  6.349088 fran
3  7.189374 math
4  6.166247 arabe
5  6.301594 fran
6  5.067737 math
7  7.021293 arabe
8  6.349088 fran
9  7.189374 math
10 6.166247 arabe
11 6.301594 fran
12 5.067737 math

In [20]:

dt[, list(mean(note))]

  V1
1 6.349222

In [21]:
dt[, table(note)]

note
5.06773703473066 6.16624744762895  6.3015937672529 6.34908802480219
               2                2                2                2
7.02129271693334 7.18937424155098
               2                2

In [22]:
dt = data.table(note = rnorm(n = 6, mean = 7, sd = 1),
                prenom = rep(c("siham", 'karim', "mohamed", "salma"), each = 3),
                nom = rep(c("Bensalem", "Abusaid", "Benahmed", 'Ouhmmou'), each = 3),
                matieres=rep(c('arabe', 'fran', 'math'), 4)
               )
dt

   note     prenom  nom      matieres
1  6.664035 siham   Bensalem arabe
2  6.726696 siham   Bensalem fran
3  6.877091 siham   Bensalem math
4  8.659592 karim   Abusaid  arabe
5  8.689894 karim   Abusaid  fran
6  6.702810 karim   Abusaid  math
7  6.664035 mohamed Benahmed arabe
8  6.726696 mohamed Benahmed fran
9  6.877091 mohamed Benahmed math
10 8.659592 salma   Ouhmmou  arabe
11 8.689894 salma   Ouhmmou  fran
12 6.702810 salma   Ouhmmou  math

In [23]:
dt[, nom_long := paste(prenom, nom, sep = "_")]

In [24]:
dt

   note     prenom  nom      matieres nom_long
1  6.664035 siham   Bensalem arabe    siham_Bensalem
2  6.726696 siham   Bensalem fran     siham_Bensalem
3  6.877091 siham   Bensalem math     siham_Bensalem
4  8.659592 karim   Abusaid  arabe    karim_Abusaid
5  8.689894 karim   Abusaid  fran     karim_Abusaid
6  6.702810 karim   Abusaid  math     karim_Abusaid
7  6.664035 mohamed Benahmed arabe    mohamed_Benahmed
8  6.726696 mohamed Benahmed fran     mohamed_Benahmed
9  6.877091 mohamed Benahmed math     mohamed_Benahmed
10 8.659592 salma   Ouhmmou  arabe    salma_Ouhmmou
11 8.689894 salma   Ouhmmou  fran     salma_Ouhmmou
12 6.702810 salma   Ouhmmou  math     salma_Ouhmmou

In [25]:
dt[2,]

  note     prenom nom      matieres nom_long
1 6.726696 siham  Bensalem fran     siham_Bensalem

In [26]:
dt[,2]

   prenom
1  siham
2  siham
3  siham
4  karim
5  karim
6  karim
7  mohamed
8  mohamed
9  mohamed
10 salma
11 salma
12 salma

In [27]:
dt[dt$prenom == "mohamed",]

  note     prenom  nom      matieres nom_long
1 6.664035 mohamed Benahmed arabe    mohamed_Benahmed
2 6.726696 mohamed Benahmed fran     mohamed_Benahmed
3 6.877091 mohamed Benahmed math     mohamed_Benahmed

In [28]:
dt[c(3, 4)]

  note     prenom nom      matieres nom_long
1 6.877091 siham  Bensalem math     siham_Bensalem
2 8.659592 karim  Abusaid  arabe    karim_Abusaid

In [29]:
dt[,c(2,3)]

   prenom  nom
1  siham   Bensalem
2  siham   Bensalem
3  siham   Bensalem
4  karim   Abusaid
5  karim   Abusaid
6  karim   Abusaid
7  mohamed Benahmed
8  mohamed Benahmed
9  mohamed Benahmed
10 salma   Ouhmmou
11 salma   Ouhmmou
12 salma   Ouhmmou

In [30]:
dt[, c("prenom", "nom")]

   prenom  nom
1  siham   Bensalem
2  siham   Bensalem
3  siham   Bensalem
4  karim   Abusaid
5  karim   Abusaid
6  karim   Abusaid
7  mohamed Benahmed
8  mohamed Benahmed
9  mohamed Benahmed
10 salma   Ouhmmou
11 salma   Ouhmmou
12 salma   Ouhmmou

In [32]:
dt[, list(mean(note), sum(note))]

  V1       V2
1 7.386686 88.64023

In [33]:
dt[, table(note)]

note
6.66403471204164 6.70280994182334  6.7266957369802 6.87709065107338
               2                2                2                2
8.65959183166517 8.68989363474649
               2                2

In [36]:
dt[, x:= rnorm(12)]

In [37]:
dt[, y := rnorm(12)]

In [40]:
dt[, z := rnorm(12)]

In [42]:
dt[, a := x>0]
dt

   note     prenom  nom      matieres nom_long         x           y
1  6.664035 siham   Bensalem arabe    siham_Bensalem   -0.58400517  1.0654570
2  6.726696 siham   Bensalem fran     siham_Bensalem   -0.07525489  1.6860487
3  6.877091 siham   Bensalem math     siham_Bensalem   -0.74357645 -0.6342401
4  8.659592 karim   Abusaid  arabe    karim_Abusaid     0.63811298  0.3542372
5  8.689894 karim   Abusaid  fran     karim_Abusaid    -0.16332180 -0.3317116
6  6.702810 karim   Abusaid  math     karim_Abusaid    -0.49025657  0.3536686
7  6.664035 mohamed Benahmed arabe    mohamed_Benahmed  0.18072415  0.6353311
8  6.726696 mohamed Benahmed fran     mohamed_Benahmed -2.56187853 -1.3795227
9  6.877091 mohamed Benahmed math     mohamed_Benahmed -1.12002789 -1.0901899
10 8.659592 salma   Ouhmmou  arabe    salma_Ouhmmou     0.56147774  0.3489392
11 8.689894 salma   Ouhmmou  fran     salma_Ouhmmou     0.84030717 -0.2588782
12 6.702810 salma   Ouhmmou  math     salma_Ouhmmou    -1.11319876 -0.0602442
   z          a
1  -0.4192776 FALSE
2   1.0038863 FALSE
3   0.5968864 FALSE
4  -0.4808764  TRUE
5  -2.2156904 FALSE
6  -0.2255342 FALSE
7  -1.4426271  TRUE
8   0.1061144 FALSE
9  -0.8120601 FALSE
10  2.5649874  TRUE
11  0.1841000  TRUE
12  1.2747939 FALSE

In [45]:
dt[, b := mean(note + x), by = nom_long]
dt

   note     prenom  nom      matieres nom_long         x           y
1  6.664035 siham   Bensalem arabe    siham_Bensalem   -0.58400517  1.0654570
2  6.726696 siham   Bensalem fran     siham_Bensalem   -0.07525489  1.6860487
3  6.877091 siham   Bensalem math     siham_Bensalem   -0.74357645 -0.6342401
4  8.659592 karim   Abusaid  arabe    karim_Abusaid     0.63811298  0.3542372
5  8.689894 karim   Abusaid  fran     karim_Abusaid    -0.16332180 -0.3317116
6  6.702810 karim   Abusaid  math     karim_Abusaid    -0.49025657  0.3536686
7  6.664035 mohamed Benahmed arabe    mohamed_Benahmed  0.18072415  0.6353311
8  6.726696 mohamed Benahmed fran     mohamed_Benahmed -2.56187853 -1.3795227
9  6.877091 mohamed Benahmed math     mohamed_Benahmed -1.12002789 -1.0901899
10 8.659592 salma   Ouhmmou  arabe    salma_Ouhmmou     0.56147774  0.3489392
11 8.689894 salma   Ouhmmou  fran     salma_Ouhmmou     0.84030717 -0.2588782
12 6.702810 salma   Ouhmmou  math     salma_Ouhmmou    -1.11319876 -0.0602442
   z          a     b
1  -0.4192776 FALSE 6.288328
2   1.0038863 FALSE 6.288328
3   0.5968864 FALSE 6.288328
4  -0.4808764  TRUE 8.012277
5  -2.2156904 FALSE 8.012277
6  -0.2255342 FALSE 8.012277
7  -1.4426271  TRUE 5.588880
8   0.1061144 FALSE 5.588880
9  -0.8120601 FALSE 5.588880
10  2.5649874  TRUE 8.113627
11  0.1841000  TRUE 8.113627
12  1.2747939 FALSE 8.113627

In [47]:
set.seed(123)
dt <- data.table(x=sample(letters[1:3], 1E5, TRUE))

In [48]:
dt[, .N, by=x]

  x N
1 a 33387
2 c 33201
3 b 33412

In [51]:
dt <- data.table(x = rep(c("a", "b", "c"), each = 100), y=rnorm(300))
setkey(dt, x)
dt['a']

    x   y
1   a    0.30658468
2   a    0.32274351
3   a    1.36607930
4   a   -0.58881630
5   a    1.69783186
6   a    0.05636327
7   a   -0.09959346
8   a   -0.21019900
9   a   -1.85516274
10  a    0.41500331
11  a    0.50250638
12  a   -1.08181284
13  a    2.30177216
14  a    0.85554938
15  a    0.28315057
16  a   -0.33727774
17  a    1.61978305
18  a    0.63488972
19  a    0.81898816
20  a   -0.56628036
21  a   -0.94752868
22  a    1.62341545
23  a   -0.41128692
24  a    0.40998770
25  a    0.88233079
26  a    0.31632194
27  a   -2.26699116
28  a   -0.75910612
29  a    0.86844629
30  a    0.89530695
... ... ...
71  a   -1.03758160
72  a   -1.09847545
73  a    0.33384716
74  a    3.56068910
75  a   -0.33113483
76  a   -1.10316019
77  a   -1.17876668
78  a    0.24245798
79  a   -1.50419710
80  a   -0.27876522
81  a    1.23119326
82  a   -0.47187066
83  a    0.89385628
84  a    1.53112456
85  a   -0.09711802
86  a   -0.18354047
87  a    1.43449686
88  a    0.48826585
89  a    1.32981030
90  a    0.02408197
91  a   -0.18144906
92  a    2.92908905
93  a    2.14012951
94  a    1.59321997
95  a   -0.36625875
96  a   -1.12552189
97  a   -0.42586226
98  a    1.31785788
99  a    0.48966207
100 a   -0.60964323

In [54]:
dt1 <- data.table(x=c('a', 'b', 'c', 'dt1'), y=1:4)
dt2 <- data.table(x = c('a', 'b', 'dt2'), z=5:7)
setkey(dt1, x);setkey(dt2, x)
merge(dt1, dt2)

  x y z
1 a 1 5
2 b 2 6

In [55]:
big_df <- data.frame(x = rnorm(1E6), y=rnorm(1E6))
file <- tempfile()
write.table(big_df, file = file, 
            row.names = FALSE, 
            col.names = TRUE, 
            sep = '\t',
            quote = FALSE)
system.time(fread(file))

   user  system elapsed
   0.11    0.06    3.39

In [57]:
system.time(read.table(file,, header = TRUE, sep = "\t"))

   user  system elapsed
   7.75    0.20    8.91

In [58]:
library(swirl)

ERROR: Error in library(swirl): there is no package called 'swirl'