## Question 2
The sqldf package allows for execution of SQL commands on R data frames. We will use the sqldf package to practice the queries we might send with the dbSendQuery command in RMySQL. 

Download the American Community Survey data and load it into an R object called 

acs 

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06pid.csv 

Which of the following commands will select only the data for the probability weights pwgtp1 with ages less than 50?

In [17]:
library(RMySQL)

Loading required package: DBI

Attaching package: 'RMySQL'

The following object is masked from 'package:RSQLite':

    isIdCurrent

In [1]:
library("sqldf")

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [15]:
library(data.table)

url <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06pid.csv"
data_directory = 'C:/Users/asus-A9/Documents/GitHub/AnacondaWorkingSpace/R/DataScience Specialization/Data'

dest <- file.path(data_directory, "ss0pid.csv")

In [16]:
download.file(url, dest)
acs <- data.table(read.csv(dest))

In [18]:
head(acs)

  RT SERIALNO SPORDER PUMA ST ADJUST  PWGTP AGEP CIT COW ... pwgtp71 pwgtp72
1 P  186      1       700  16 1015675  89   43   1    7  ...  82      27
2 P  186      2       700  16 1015675  92   42   1    4  ...  84      26
3 P  186      3       700  16 1015675 107   16   1    1  ...  90      28
4 P  186      4       700  16 1015675  91   14   1   NA  ...  81      28
5 P  306      1       700  16 1015675 309   29   1    5  ... 294     400
6 P  395      1       100  16 1015675 108   40   1    8  ... 123     119
  pwgtp73 pwgtp74 pwgtp75 pwgtp76 pwgtp77 pwgtp78 pwgtp79 pwgtp80
1  92     150      28      78      25      99     159     129
2  90     159      30      87      27      98     167     131
3  92     177      33     105      30     104     206     156
4  94     164      29      88      27     104     156     138
5  80     489     340     491     612     282     462     259
6 171     108      97     104      31     127     108      31

In [19]:
dim(acs)

[1] 14931   239