In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
list.files()

[1] "Data"
[2] "Download a file from the web.ipynb"
[3] "JSON.ipynb"
[4] "R  DATA.TABLE TUTORIAL (WITH 50 EXAMPLES.ipynb"
[5] "The data.table Package.ipynb"
[6] "Week 1 Quiz.ipynb"

In [4]:
# url = 'https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv'
# dest = './Data/2006 microdata survey about housing for the state of Idaho.csv'
# datafile = download.file(url, dest)

In [6]:
# download_date = date()
# download_date 
# 'Wed Dec 12 10:22:28 2018'

[1] "Wed Dec 12 10:22:28 2018"

In [7]:
data_file = './Data/2006 microdata survey about housing for the state of Idaho.csv'

In [10]:
data = tbl_df(read.csv(data_file))

In [11]:
head(data)

  RT SERIALNO DIVISION PUMA REGION ST ADJUST  WGTP NP TYPE ... wgtp71 wgtp72
1 H  186      8        700  4      16 1015675  89  4  1    ...  81     27
2 H  306      8        700  4      16 1015675 310  1  1    ... 292    401
3 H  395      8        100  4      16 1015675 106  2  1    ... 123    119
4 H  506      8        700  4      16 1015675 240  4  1    ...  68    359
5 H  835      8        800  4      16 1015675 118  4  1    ... 127     36
6 H  989      8        700  4      16 1015675 115  4  1    ... 120     34
  wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
1  93    151     28     79     25    101    157    129
2  81    494    346    496    615    286    454    260
3 168    107     95    101     30    124    106     31
4 385     71    234    421     76     77    242    231
5 119    121    116    209     97    176    144     38
6 109    199    116    110    211    120     31    189

In [12]:
dim(data)

[1] 6496  188

In [14]:
dt = select(data, 'VAL')
head(dt)

  VAL
1 17
2 NA
3 18
4 19
5 20
6 15

In [15]:
class(dt$VAL)

[1] "integer"