In [13]:
library(reshape2)

In [14]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  carnames
Mazda RX4         Mazda RX4
Mazda RX4 Wag     Mazda RX4 Wag
Datsun 710        Datsun 710
Hornet 4 Drive    Hornet 4 Drive
Hornet Sportabout Hornet Sportabout
Valiant           Valiant

In [15]:
dim(mtcars)

[1] 32 12

In [16]:
names(mtcars)

 [1] "mpg"      "cyl"      "disp"     "hp"       "drat"     "wt"
 [7] "qsec"     "vs"       "am"       "gear"     "carb"     "carnames"

In [17]:
rownames(mtcars)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [7]:
mtcars$carnames <- rownames(mtcars)

In [8]:
carmelt <- melt(mtcars,
                id=c("carnames", "gear", "cyl"),
                measure.vars = c('mpg', 'hp'))
head(carmelt, n=3)

  carnames      gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

In [9]:
tail(carmelt, n=3)

   carnames      gear cyl variable value
62 Ferrari Dino  5    6   hp       175
63 Maserati Bora 5    8   hp       335
64 Volvo 142E    4    4   hp       109

### Casting dataframes

In [19]:
cyldata <- dcast(carmelt, cyl ~ variable)
cyldata

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [20]:
head(cyldata)

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [26]:
cyldata <- dcast(carmelt, cyl ~ variable, mean)
cyldata <- signif(cyldata, digits = 4)
cyldata

  cyl mpg   hp
1 4   26.66  82.64
2 6   19.74 122.30
3 8   15.10 209.20

In [27]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [28]:
tapply(InsectSprays$count, InsectSprays$spray, sum)

ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_markdown.numeric(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.numeric(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

  A   B   C   D   E   F
174 184  25  59  42 200

In [29]:
spIns <- split(InsectSprays$count, InsectSprays$spray)
spIns

$A
 [1] 10  7 20 14 14 12 10 23 17 20 14 13

$B
 [1] 11 17 21 11 16 14 17 17 19 21  7 13

$C
 [1] 0 1 7 2 3 1 2 1 3 0 1 4

$D
 [1]  3  5 12  6  4  3  5  5  5  5  2  4

$E
 [1] 3 5 3 5 3 6 1 1 3 2 6 4

$F
 [1] 11  9 15 22 15 16 13 10 26 26 24 13

In [30]:
sprCount <- lapply(spIns, sum)
sprCount

$A
[1] 174

$B
[1] 184

$C
[1] 25

$D
[1] 59

$E
[1] 42

$F
[1] 200

In [31]:
unlist(sprCount)

  A   B   C   D   E   F
174 184  25  59  42 200

In [32]:
sapply(spIns, sum)

  A   B   C   D   E   F
174 184  25  59  42 200

In [34]:
library(plyr)
ddply(InsectSprays, .(spray), summarize, sum = sum(count))

  spray sum
1 A     174
2 B     184
3 C      25
4 D      59
5 E      42
6 F     200

In [36]:
spraySums <- ddply(InsectSprays, .(spray), summarize, sum = ave(count, FUN=sum))
dim(spraySums)

[1] 72  2

In [37]:
head(spraySums)

  spray sum
1 A     174
2 A     174
3 A     174
4 A     174
5 A     174
6 A     174