In [1]:
rstdt <- read.csv("./data/restaurants.csv")

In [3]:
head(rstdt, n=3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD
2 1919 FLEET ST\nBaltimore, MD
3 2844 HUDSON ST\nBaltimore, MD

# Creating sequences

In [5]:
s1 <- seq(1, 10, by=2)
s1

[1] 1 3 5 7 9

In [6]:
s2 <- seq(1, 10, length=3)
s2

[1]  1.0  5.5 10.0

In [7]:
x <- c(1, 3, 8, 25, 100)
seq(along = x)

[1] 1 2 3 4 5

In [8]:
rstdt$nearme = rstdt$neighborhood %in% c("Roland Park", "Homeland")
table(rstdt$nearme)

FALSE  TRUE
 1314    13

In [10]:
rstdt$zipWrong = ifelse(rstdt$zipCode <0, TRUE, FALSE)
table(rstdt$zipWrong, rstdt$zipCode < 0)

        FALSE TRUE
  FALSE  1326    0
  TRUE      0    1

In [13]:
rstdt $zipgroup <- cut(rstdt$zipCode,
                       breaks = quantile(rstdt$zipCode))
table(rstdt$zipgroup)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

### Easier Cutting

In [16]:
#install.packages('Hmisc')
library(Hmisc)

In [17]:
rstdt$zipgroups <- cut2(rstdt$zipCode, g=4)
table(rstdt$zipgroup)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

In [18]:
rstdt$zcf <- factor(rstdt$zipCode)
rstdt$zcf[1:10]

 [1] 21206 21231 21224 21211 21223 21218 21205 21211 21205 21231
32 Levels: -21226 21201 21202 21205 21206 21207 21208 21209 21210 ... 21287

In [19]:
class(rstdt$zcf)

[1] "factor"

In [20]:
yesno <- sample(c("yes", "no"), size = 10, replace = TRUE)
yesnofac = factor(yesno, levels = c("yes", "no"))
relevel(yesnofac, ref='yes')

 [1] no  no  no  yes no  yes no  yes no  no
Levels: yes no

In [21]:
as.numeric(yesnofac)

 [1] 2 2 2 1 2 1 2 1 2 2

In [23]:
#library(dplyr)

In [26]:
restdata2 = mutate(rstdt, zipgroups = cut2(zipCode, g = 4))
table(restdata2$zipgroups)

[-21226,21205) [ 21205,21220) [ 21220,21227) [ 21227,21287]
           338            375            300            314